div.menubox 	{position:absolute; top:312px; left:-300px; width:158px;  height:98px; z-Index:220; border:solid 2px #6060a0; background-color:black; color:white; overflow:hidden}
img.menuicon	{position:absolute; border:2px solid #000000}

