div.timerbox 	{position:absolute; top:15px; right:15px; width:50px;  height:30px; z-Index:256; border:solid 2px #6060a0; background-color:black; color:white; overflow:hidden; font-size:12pt ; text-align:right; font-family:"Comic Sans MS",serif}

